<AuthorizeView>
    <Authorized>
        Hello, @context.User.Claims.Where(c => c.Type == "name").Select(c => c.Value.ToString()).FirstOrDefault()! 
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
