@inherits LayoutComponentBase

<PageTitle>DelegationStation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
        <article class="content px-4">
            <div class="DS-tooltip float-end">
                Made in the USA
                <span class="DS-tooltiptext">God bless the USA</span>
            </div>
        </article>
    </main>
    
</div>
