@page "/claims"
@using DelegationStation.Interfaces;

@attribute [Authorize]

@inject IDeviceTagDBService deviceTagDBService
@inject IConfiguration config


<PageTitle>Claims</PageTitle>

<AuthorizeView>
    <Authorized>
        <h2>Roles</h2>
        @foreach (var group in roles)
        {
            <p>@group</p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>





