@page "/Tags/{PageNumber:int}"
@page "/Tags"
@using DelegationStation.Interfaces;
@using DelegationStationShared.Models;

@inject IDeviceTagDBService deviceTagDBService
@inject ILogger<Tags> logger
@inject NavigationManager nav
@inject IConfiguration config
@inject IAuthorizationService authorizationService

@attribute [Authorize]

<h3>Tags</h3>

<AuthorizeView Context="adminAuthContext" Policy="DelegationStationAdmin">
    <Authorized>
        <EditForm Model="@newTag" OnValidSubmit="AddTag" class="form-control mb-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="TagName" class="form-label">Tag name</label>
                <InputText @bind-Value=newTag.Name class="form-control" id="TagName"></InputText>
            </div>
            <div class="mb-3">
                <label for="TagDescription" class="form-label">Tag description</label>
                <InputTextArea @bind-Value=newTag.Description class="form-control" id="TagDescription"></InputTextArea>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" @bind=newTag.CorpIDSyncEnabled id="corpIDSwitch">
                <label class="form-check-label" for="corpIDSwitch">Enable Corporate Identifier Sync</label>
            </div>
            <input type="submit" class="btn btn-primary mb-3" value="Add" />
        </EditForm>
    </Authorized>
    <NotAuthorized>
        Not Authorized to create Tags
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Context="authContext">
    <Authorized>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Tag Name</th>
                    <th>Tag Description</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input type="text" @bind="searchTag.Name" class="form-control" placeholder="Tag Name" />
                    </td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick=@(() => GetTagsSearch())>Search</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (tagsLoading)
                {
                    <tr>
                        <td colspan="3">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                }
                else if (deviceTags.Count == 0)
                {
                    <tr>
                        <td colspan="3">No tags found.</td>
                    </tr>
                }
                else
                {
                    @foreach (DeviceTag tag in deviceTags)
                    {
                        <tr>
                            <td class="clickable" @onclick=@(() => nav.NavigateTo($"/TagEdit/{tag.Id}"))>@tag.Name</td>
                            <td class="clickable" @onclick=@(() => nav.NavigateTo($"/TagEdit/{tag.Id}"))>@tag.Description</td>
                            <td>
                                <button type="button" class="btn btn-primary" @onclick=@(() => nav.NavigateTo($"/TagEdit/{tag.Id}"))>
                                    <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                                </button>
                            </td>
                        </tr>
                    }


                    <tr>
                        <td colspan="3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="Tags" aria-label="First" @onclick="FirstPage">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="Tags" aria-label="First" @onclick="PreviousPage">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>

                                    <li class="page-item"><a class="page-link"> @PageNumber of @TotalPages</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="Tags" aria-label="First" @onclick="NextPage">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="Tags" aria-label="Last" @onclick="LastPage">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                }
            </tbody>
        </table>



        @if (!string.IsNullOrEmpty(userMessage))
        {
            @if (userMessage.ToLower().Contains("error"))
            {
                <div class="alert alert-danger" role="alert">
                    @userMessage
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    @userMessage
                </div>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>







